
<footer class="footer p-4 bg-gray-800 rounded-lg shadow md:px-6 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
    <p class="flex items-center mb-4 sm:mb-0">
    <span class="text-white self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Angular Social</span>
    </p>
    <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-400 sm:mb-0">
    <li>
    <a class="mr-4 hover:underline md:mr-6 text-white">A propos</a>
    </li>
    <li>
    <a class="mr-4 hover:underline md:mr-6 text-white">Privacy Policy</a>
    </li>
    <li>
    <a class="mr-4 hover:underline md:mr-6 text-white">Licence</a>
    </li>
    <li>
    <a class="hover:underline text-white">Contact</a>
    </li>
    </ul>
    </div>
    <hr class="my-6 border-gray-700 sm:mx-auto lg:my-8">
    <span class="block text-sm text-gray-400 sm:text-center copyright-text">© 2022 <a href="/" class="social-text hover:underline">Angular Social</a>. All Rights Reserved.
    </span>
    </footer>
    
