<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table id="table-user" class="text-sm text-left text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-700 text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                nom d'utilisateur
                </th>
                <th scope="col" class="px-6 py-3">
                Email
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" (click)="goToProfil(user.id)"  class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap">
                {{user.pseudo}}
                </th>
                <td class="px-6 py-4">
                {{user.email}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
    
