.article-header{
    display: flex;
    justify-content: space-between;
}
.comment-wrapper{
    width: 80%;
    margin: auto;
    padding: 0;
}
.comment-form{
    margin-top: 30px;
}
.buttonGroup{
    display: flex;
    justify-content: flex-end;
}